#about-page {
  height: 100vh;
  background-image: linear-gradient(
    140deg,
    rgba(0, 72, 114, 0.9) 0%,
    rgba(41, 17, 96, 0.8) 100%
  );
}

.about-nav {
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.about-us {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 0 20px;
}

.about-us h1 {
  padding-bottom: 20px;
}

.about-us h3 {
  color: #acabab;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: justify;
  padding: 30px 40px;
}

.about-content h1 {
  font-size: 2rem;
}

.about-content h4 {
  line-height: 1.9rem;
}

.why-choose-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 40px;
}

.card {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.card i {
  padding-bottom: 50px;
}

.card h2 {
  padding-bottom: 10px;
}
